<p id="notice"><%= notice %></p>
<table>
  <tbody>
  <tr>
    <th>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="filter navbar-brand">Filter by name:</a>
          <%= form_with( url: movies_path, method: :get) do |form|%>
            <%= form.text_field :title%>
            <%= form.submit "Search",class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </nav>
    </th>
    <th>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="filter navbar-brand">Filter by release_date:</a>
          <%= form_with( url: movies_path, method: :get) do|form| %>
            <%= form.label :"Start Date" %>
            <%= form.date_field :start_date%>
            <%= form.label :"End Date" %>
            <%= form.date_field :end_date%>
            <%= form.submit "Filter",class: "btn btn-outline-success"  %>
          <% end %>
        </div>
      </nav>
    </th>
  </tr>
  </tbody>
</table>

<h1>Movies</h1>

<table class="table table-success table-striped-columns">
  <thead  class="table table-dark">
    <tr>
      <th>Name</th>
      <th>Releasedate</th>
      <th>AverageRatings</th>
      <th>Reviews</th>
      <th>Create Reviews</th>
      <th>Create Ratings</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody >
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.releasedate %></td>
        <td><%= movie.average_ratings.round(1) %></td>
        <td><% if movie.review_count > 0 %>
          <% movie.reviews.each do |review|  %>
              <p><%= review.comment %> </p>
            <% end %>
            <% else %>
          <p>No Reviews</p>
            <% end %>
            </td>
        <td><%= link_to 'clickhere',movie %></td>
        <td><%= link_to 'clickhere',movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
