<% if user_signed_in? %>
  <p><strong>Name:</strong>
    <%= current_user.email.split("@")[0].capitalize %></p>
  <p><strong>Email:</strong>
    <%= current_user.email %></p>
  <p> <%= link_to "signout",destroy_user_session_path %> |
    <%=link_to "Dashboard",movies_path  %> |
    <%= link_to "Edit profile", edit_user_registration_path %>
  </p>
<% else %>
  <p style="margin-top: 60px">
    <h3>Profile</h3><br><%= link_to"Signin",new_user_session_path%> |
    <%= link_to"Signup",new_user_registration_path %>
  </p>

<% end %>