<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Releasedate:</strong>
  <%= @movie.releasedate %>
</p>
<p>
  <strong>Average Rating:</strong>
  <%= @movie.average_ratings.round(1) %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
<br><hr>
<strong>Give Rating :</strong>
<%= render partial: "ratings/form",locals: { rating: @rating} %>
<hr>
<strong>Give Reviews :</strong>
<%= render partial:"reviews/form",locals: {review: @review} %>
<br>
<% if @movie.review_count> 0 %>
<strong>Existing Reviews :</strong>
  <% @reviews.each do |review| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= review.user.email.split("@")[0].capitalize%></h5>
      <p>(<%= review.user.email %>)</p>
      <strong class="card-text"><%= review.comment %></strong>
        <% if can? :update,review %>
          <%= link_to 'Edit', edit_movie_review_path(@movie,review) ,class: "btn btn-primary"%>
        <% end %>
        <% if can? :delete,review %>
          <%= link_to 'Destroy', [@movie,review] ,class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
  </div>
    <% end %>
<% end %>
